.products-wrap {
  padding: 6rem 0;
  margin-bottom: 2rem;
  .filter-wrap {
    font-family: B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    span {
      color: $text;
      text-transform: uppercase;
      font-size: $font8;
      opacity: 0.5;
    }
    button {
      outline: none;
      background: none;
      border: none;
      color: $text;
      text-transform: uppercase;
      font-size: $font8;
      padding: 0;
    }
  }
  .products-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      width: 33.3%;
      padding-top: 1rem;
      @media (max-width: $s) {
        width: 47%;
      }
      .product-container {
        width: 100%;
        padding: 10px;
        @media (max-width: $s) {
          padding: 0px;
        }
        .item-title {
          padding-top: 0.5rem;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          span {
            font-size: $font8;
            opacity: 0.5;
            &:last-child {
              font-style: italic;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
