.loading-screen {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: absolute;
  z-index: 99;
  background: $text;
  color: $background;
  .diamond-icon {
    position: absolute;
    top: 3rem;
    left: 4rem;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .progress {
    position: absolute;
    top: 8rem;
    left: 8rem;
    font-size: $font8;
    font-weight: 400;
    font-style: italic;
    @media (max-width: 1024px) {
      top: 3rem;
      left: 3rem;
    }
    @media (max-width: 480px) {
      top: 3rem;
      left: 1.5rem;
    }
  }
}
