//color
$background: #fff;
$text: #000;
$black: #171717;
$brown: #633616;

//breakpoints
$xs: 320px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;

//major third modular ratio
$font1: 4.768em;
$font2: 3.815em;
$font3: 3.052em;
$font4: 2.441em;
$font5: 1.953em;
$font6: 1.563em;
$font7: 1.25em;
$font8: 0.8em;
